<app-nav></app-nav>
<section class="jumbotron text-center" style="background-color: #d2eeee;">
    <div class="container">
      <h1 class="jumbotron-heading">Notre Application FROE </h1>


      <p class="lead text-dark "> <b> C'est une application de reconnaissance faciale pour la gestion de ressources humaines plus précisément la gestion d'absence </b> </p>

      <div class="col-lg-10 offset-1"> 
	      <p>
      	<img src="https://www.gemalto.com/govt-site/PublishingImages/biometrics/face-tracking.jpg?RenditionID=1" alt="" class="rounded  d-block" >
      </p>
      </div>

    </div>
  </section>