<header>



  <nav class="navbar navbar-expand-md bg-info navbar-dark">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home"> &nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add"> &nbsp;&nbsp;Ajouter Employé &nbsp; </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consulter"> &nbsp;&nbsp;Consulter Employés &nbsp; </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tensorflow">&nbsp;&nbsp; Système FROE &nbsp; </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/monProfile"> &nbsp;&nbsp;Verification d'un Profile &nbsp; </a>
      </li>
      <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      
      <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>

      <li class="nav-item">

        <a class="nav-link disabled  navbar-toggler-right" href="#" style="padding-left: 300px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log out</a>

      </li>
    </ul>
  </nav>

</header><!-- /header -->