<header>



  <nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"> Acceuil &nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add"> Ajouter Employé &nbsp; </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consulter"> Consulter Employés &nbsp; </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tensorflow"> tensorflow &nbsp; </a>
      </li>
      <li class="nav-item">

        <a class="nav-link disabled align-top" href="#">Log out</a>
      </li>
    </ul>
  </nav>

</header><!-- /header -->