<br>


<form #form="ngForm" class="form-inline">
  <div class="form-group">

    <input type="text" class="form-control" ngModel name="motCle"> &nbsp;&nbsp;&nbsp;

  </div>
  <button type="submit" class="btn btn-info">Chercher personnel </button>

</form>
<br>
<br>
<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">E-mail</th>
      <th scope="col">Action 1</th>
      <th scope="col">Action 2</th>
      <th scope="col">Action 3</th>

    </tr>
  </thead>
  <tbody *ngIf="employees">

    <tr *ngFor="let e of employees">

      <td>{{e.firstName}}</td>
      <td>{{e.lastName}}</td>
      <td>{{e.email}}</td>
      <td><button type="" class="btn btn-success">Editer</button></td>
      <td><button type="" class="btn btn-danger" (click)="onDeletePers(e)">Supprimer</button></td>
      <td><button type="" class="btn btn-info">Consulter</button></td>
    </tr>

  </tbody>
</table>