<app-nav></app-nav>

    <main>
        <br><br>
        <!--MDB Forms-->
        <div class="row ">
            <div class="col-md-9 mb-2 offset-1">

<div class="card text-dark" >
  <div class="card-body">
    <div class="card-title h4">La liste des employees </div>


<form #form="ngForm" class="form-inline" (ngSubmit)="searchChanged(form.value)">
  <div class="form-group">

    <input type="text" class="form-control" ngModel name="searchTerm" placeholder=" chercher par Nom" > &nbsp;&nbsp;&nbsp;

  </div>
  <button type="submit" class="btn btn-info">Chercher personnel </button>

</form>
<br>

<table class="table ">
  <thead class="thead-dark">
    <tr>

      <th>Nom</th>
      <th>Prenom</th>
      <th>E-mail</th>
      <th>Action 1</th>
      <th>Action 2</th>
      <th>Action 3</th>

    </tr>
  </thead>
  <tbody *ngIf="employees">

    <tr *ngFor="let e of employees._embedded.employees">

      <td>{{e.firstName}}</td>
      <td>{{e.lastName}}</td>
      <td>{{e.email}}</td>
      <td><a class="btn btn-success" (click)="onEditEmp1(e)" >Editer</a></td>
      <td><a class="btn btn-danger" (click)="onDeleteEmp(e)">Supprimer</a></td>
      <td><a class="btn btn-info" (click)="onConsultEmp1(e)">Consulter</a></td>
    </tr>

  </tbody>
</table>

<nav aria-label="table" >

<ul *ngIf="pages" class="pagination pagination-sm" style="color: blue;">
  <li *ngFor="let p of pages; let i=index" class="page-item">
    <a class="page-link" (click)="onPageEmp(i)">{{i}}</a>
  </li>
</ul>
</nav>
  </div>
  
</div>

</div>
</div>
</main>